nav {
	background: white;
}
nav ul {
	/*background: rgba(144, 224, 60, 1);*/
}

nav ul li p a{
	color: black;
/* 	background: rgba(144, 224, 60, 1); */
}

nav ul li:active,  nav ul li.active{
	color: rgba(23, 132, 46, 0.7);
/* 	color: rgba(144, 224, 60, 1); */
}

#mainContener figure figcaption {
	color: white;
}

#mainContener figure figcaption::after {
	background: black;
}

footer {
	background: rgba(23, 132, 46, 1);
/* 	background: rgba(39, 145, 48, 1); */
}

#news .newsObj .newsText h3 {
/* 	color: #F5F5F5; */
}

#news .newsObj .newsText::after {
/* 	background: rgb(108, 185, 26); */
	background: rgb(23, 132, 46);
}

#mainContener section:nth-child(odd) {
	background: rgba(23, 132, 46, 0.15);
/* 	background: rgba(39, 145, 48, 0.15); */
}

#mainContener section#contact {
	background-image: url('../img/czest2.jpg');
}

#contact h2, #contact .contactLangTip {
	color: white;
}

#contact #addressDiv {
	color: white;
	
}

#contact #addressDiv::after, #formContactDiv #uploadGauge {
	background: white;
	
}

#formContactDiv::after {
	color: white;
	background: white;
}

#formContactDiv #uploadGauge div {
	background: rgba(23, 132, 46, 1);
}

#formContactDiv #uploadGauge div p{
	color: black;
}

#formContactDiv .error::after {
	background: red;
}

#upClick {
background: rgba(23, 132, 46, 1);
}