@font-face {
	font-family: 'sansEgo';
	src: url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
	font-family: freeSansEgo;
	src: url('../fonts/FreeSans.ttf');
}
@font-face {
	font-family: freeSansEgo;
	src: url('../fonts/FreeSans.otf');
}