.settingsBody {
	height: 40px;
	overflow: hidden;
}

#windowDiv i {
	font-size: 20px;
}

.subclass .settingsBody {
	background: #909090;
}

.subclass .settingsBody div {
	margin-left: 40px;
	
}

.subclass .btnname {
	background: #A0A0A0;
}

.subclass .btnname div {
	margin-left: 80px;
	
}