.settingsSetDiv {
	border: 1px solid black;
	overflow: hidden;
	width: 95%;
	background: white;
}
.headerSetName {
	clear: both;
	background: gray;
}
.headerSetName p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding-top: 10px;
	height: 40px;
	cursor: pointer;
	float: inherit;
}
.settingsBody {
	background: gray;
	cursor: pointer;
}
.buttonIconDiv {
	position: relative; 
	z-index: 150; 
	float: right; 
	width: 170px; 
	height: 100%; 
	overflow:hidden; 
	font-size: 15px;
}
.settingsSetDiv:after, .headerSetName:after, .settingsBody::after {
	content: '';
	display: table;
	clear: both;
}
.elemActionBtn {
	display: none;
}
#settingsCommunicationDiv {
	display: none;
}
#settingsForm, #emailSettingsForm, #mainUserSettingsForm {
	display: none;
}