html {
	min-height: 100% !important;
	height: 100% !important;
	border: 0;
	margin: 0;
}
body {
	min-height: 100% !important;
	height: 100% !important;
	border: 0;
	margin: 0;
}
#menu {
	width: 20%;
	float: left;
	overflow: hidden;
	
	display: none;
}

/*#menu a {
	display: block;
}*/

#content {
	overflow: auto;
/* 	float: left; */
	width: 100%;
	height: 100%;
	max-height: 500%;
/* 	position: relative; */
}
#content:after {
	content: '';
	display: table;
	clear: both;
}
#iframeHandler {
	position: relative; width: 100%; height: 100%;
}
#iframeHandler:after {
	content: '';
	display: table;
	clear: both;
}
#floatingPanel {
	position: fixed;
	right: 0;
	top: 0;
	max-width: 20%;
	border: 1px solid black;
}
span {
	float: left;
	padding: 0px;
	width: 200px;
	background: transparent;
}
.button p {
	text-align: center;
}
#content form div {
	padding-bottom: 10px;
}
.photoMiniSet {
	margin: 5px;
	padding: 5px;
	overflow: hidden;
}
.photoMiniSet div {
	
/* 	border: 2px solid blue; */
}
#tipLabel {
	display: none;
	position: absolute;
	background: white;
	z-index: 10000000;
	
}